/******↓↓↓RESPONSIVE SMARTPHONE↓↓↓******/
@media only screen and (min-width: 321px) and (max-width: 800px) {
  body {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url(image/portrait1.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    box-sizing: border-box;
  }
  .ml2 {
    text-align: center;
    font-weight: 900;
    font-size: 2.1rem;
  }
  /******************************************LINE DRAWING*****************************************************************/
  .line-drawing {
    margin-top: 100px;
    margin-left: 60%;
    position: absolute;
    width: 35vw;
    height: auto;
    z-index: -1;
    overflow: hidden;
  }
  svg {
    width: 100%;
    height: auto;
    color: #fff;
  }
  path {
    height: auto;
    width: 100%;
    color: #ff1919;
  }

  /*******************************************LINE DRAWING FIN****************************************************************/
  /******↓↓↓TITRE ANIME↓↓↓******/
  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 28vh;
    width: 100%;
    background: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .title-sub-container {
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .title-sub-container > h2 {
    line-height: 1rem;
    margin: 0;
    font-size: 4rem;
    box-sizing: border-box;
  }
  .title-sub-container > h4 {
    line-height: 2rem;
    margin: 0;
    font-size: 1.3rem;
    font-family: "Bacasime Antique", serif;
    box-sizing: border-box;
  }
  .text-wrapper > .line {
    margin-top: 4vh;
    height: 2px;
    width: 100%;
  }
  .ml10 {
    position: relative;
    color: #fff;
    line-height: 0;
    box-sizing: border-box;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0;
  }

  /******↑↑↑TITRE ANIME FIN↑↑↑******/
  /******↓↓↓MENU BURGER ↓↓↓**********/
  .burgerContainer {
    margin: 10px 5px 2px 2px;
    display: block;
    box-sizing: border-box;
  }
  .show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    animation: slideIn 0.3s forwards ease-in-out;
    box-sizing: border-box;
  }
  /******↑↑↑MENU BURGER FIN↑↑↑******/
  /*******************************************PRIMARY-CONTAINER ET STAGGERING*********************************/
  .primary_container {
    position: relative;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .stagContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .square {
    height: 5.5vh;
    width: 100%;
    background-color: rgba(36, 145, 172, 0.413);
  }
  /******************************************PRIMARY-CONTAINER ET STAGGERING FIN******************************/
  .lineContainer {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 80vw;
  }
  .lineDecoA {
    height: 5px;
    width: 65vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoB {
    height: 5px;
    width: 50vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoC {
    height: 5px;
    width: 35vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoD {
    height: 5px;
    width: 20vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoE {
    height: 5px;
    width: 5vw;
    border-radius: 20px;
    background-color: #fff;
  }

  /******↓↓↓LIENS DE SORTIE ↓↓↓**********/

  .sortie {
    margin-top: 0;
    padding: 3px;
    height: 2vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }
  .sortie a > i {
    margin: 0;
    font-size: 1.3rem;
  }
  .sortie > a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.2rem;
  }
  /******↑↑↑LIENS DE SORTIE FIN↑↑↑******/
  /******↓↓↓INDEX DE GARDE↓↓↓**********/
  .ml15 {
    font-weight: 800;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #fff;
    text-align: center;
  }
  /******↑↑↑INDEX DE GARDEFIN↑↑↑******/
  nav ul {
    display: none;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  li a {
    left: 0;
    font-size: 1.8rem;
  }

  .contenu h3 {
    height: auto;
    width: 26vw;
    padding: 5px;
    margin-left: 1vw;
    font-size: 1rem;
    border-bottom: 1px solid white;
  }
  h1 {
    width: 75vw;
  }
  #S1 > h2 {
    text-align: center;
  }
  hr {
    width: 75vw;
  }
  /******↓↓↓CONTENU ONGLET↓↓↓******/

  .items {
    box-sizing: border-box;
  }
  .items p {
    line-height: 1.5;
  }

  .items .skillContain {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: auto;
    box-sizing: border-box;
  }
  .skillContain > .skillName > h3 {
    font-size: 1.7rem;
    text-shadow: 1px 2px 3px black;
    font-family: "arial";
  }
  .skillContain > .skillName > h3 > span {
    color: #ff1919;
    font-family: "Zen Dots";
  }
  .skillName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .skillName > i {
    text-shadow: 1px 2px 3px black;
    margin: 0 0 0 5px;
    font-size: 1.7rem;
  }
  .onglet0 {
    height: 30vh;
  }
  .service0 {
    display: block;
  }
  .service1,
  .service2,
  .service3 {
    font-size: 1.2rem;
    padding: 5px;
    display: block;
  }
  /******↑↑↑CONTENU ONGLET FIN↑↑↑******/

  .activeContenu {
    height: 105vh;
    width: 100%;
  }
  .separate1 {
    margin-top: 0;
    height: 0.2vh;
    width: 50vw;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 25vw;
  }
  .separate2 {
    margin-top: 20vh;
    height: 0.2vh;
    width: 50vw;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 25vw;
  }
  .liensExternes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    text-decoration: none;
  }
  .container {
    height: auto;
    width: auto;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
  }
  .labelImage {
    top: 0;
    height: 20vh;
    width: 90%;
    background-color: rgba(36, 145, 172, 0.629);
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .labelImageVid {
    top: 0;
    height: 25vh;
    width: 90%;
    background-color: rgba(36, 145, 172, 0.629);
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .projetContenu {
    display: block;
    margin-top: 3vh;
    height: auto;
    width: 90%;
  }
  .projetContenu img {
    height: 19.9vh;
    width: 90%;
  }
  .projetContenu video {
    height: auto;
    width: 90%;
    border-radius: 10px;
  }

  .projetContenu video:hover {
    filter: contrast(140%);
  }
  #S1 {
    height: 110vh;
  }
  article {
    margin-top: 3vh;
    height: 45vh;
    overflow: hidden;
  }
  article > img {
    height: 150px;
    width: 150px;
  }

  article > p {
    text-shadow: 1px 2px 2px black;
  }
  /******↓↓↓FOOTER↓↓↓******/
  .bannerFooter {
    background-size: 30%;
    height: auto;
    width: 100%;
  }
  .signature {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
    color: #000;
    font-size: 1.2rem;
  }
  .signature > a {
    bottom: 0;
    height: 2vh;
    width: 5vw;
    bottom: 0;
  }
  i {
    bottom: 0;
    height: 2vh;
    width: 5vw;
  }
  /******↓↓↓SECTION 2↓↓↓******/
  article {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    overflow: hidden;
  }
  .infocontain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
    height: auto;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .infocontain > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 10%;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 25px 5px 10px;
  }

  .infocontain > p {
    color: #fff;
  }
  /******↓↓↓LETTRE EXPLODE ANIME↓↓↓******/
  .explodeContain {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
  }
  /******↑↑↑LETTRE EXPLODE ANIME↑↑↑******/
  /******↑↑↑SECTION 2 FIN↑↑↑******/
  /******↓↓↓SECTION 3↓↓↓******/
  #S3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    height: auto;
    width: 100%;
    background-color: none;
  }
  #S3 > h2 {
    color: #fff;
  }
  .dlContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .priceContain {
    margin: 0;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Yeseva One", cursive;
    font-size: 1.3rem;
    line-height: 1.1rem;
  }

  .template {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .dlFolder a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
  }
  .dlFolder h3 {
    font-size: 1.4rem;
  }
  .icoContain {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .screenContain {
    border: none;
    height: 15vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
  }
  .screenContain > i {
    margin-left: auto;
    margin-right: 15vw;
  }
  /******↓↓↓GRID TEMPLATE↓↓↓******/
  .Gridcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .a {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: a;
    padding: 5px;
    border-radius: 10px;
  }

  .b {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #000;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: b;
    padding: 5px;
    border-radius: 10px;
  }

  .c {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #000;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: c;
    padding: 5px;
    border-radius: 10px;
  }

  .d {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #000;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: d;
    padding: 5px;
    border-radius: 10px;
  }

  /******↑↑↑GRID TEMPLATE FIN↑↑↑******/
  /******↑↑↑SECTION 3 FIN↑↑↑******/
  /******↑↑↑RESPONSIVE SMARTPHONE FIN↑↑↑******/
}
