/******↓↓↓RESPONSIVE SMARTPHONE↓↓↓******/
@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  body {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000;
    background-size: cover;
    box-sizing: border-box;
  }
  .ml2 {
    text-align: center;
    font-weight: 900;
    font-size: 2.1rem;
  }
  /********************wallpapper text-code******************************/
  .mouse_globe {
    display: none;
  }
  .WallPapper {
    margin: 0;
    padding: 13px;
    position: absolute;
    height: 169vh;
    width: 89vw;
    z-index: -99;
    overflow: hidden;
    box-shadow: 0px 0px 10px #fff;
    border-radius: 10px;
    transform: translateY(40px);
    background: url("image/ModelFondfolio.png") no-repeat 30% 50%;
    background-size: cover;
  }
  /********************wallpapper text-code FIN******************************/
  /******↓↓↓TITRE ANIME↓↓↓******/
  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 28vh;
    width: 100%;
    background: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .title-sub-container {
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .title-sub-container > h2 {
    line-height: 1rem;
    margin: 0;
    font-size: 2.1rem;
    box-sizing: border-box;
  }
  .title-sub-container > h4 {
    line-height: 2rem;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Bacasime Antique", serif;
    box-sizing: border-box;
  }
  .text-wrapper > .line {
    margin-top: 4vh;
    height: 2px;
    width: 100%;
  }
  .ml10 {
    position: relative;
    color: #fff;
    line-height: 0;
    box-sizing: border-box;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0;
  }

  /******↑↑↑TITRE ANIME FIN↑↑↑******/
  /******↓↓↓MENU BURGER ↓↓↓**********/
  .burgerContainer {
    margin: 10px 5px 2px 2px;
    display: block;
    box-sizing: border-box;
  }
  .show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    animation: slideIn 0.3s forwards ease-in-out;
    box-sizing: border-box;
  }
  /******↑↑↑MENU BURGER FIN↑↑↑******/
  .lineContainer {
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    height: 10vh;
    width: 80vw;
    overflow: hidden;
  }
  .lineDecoA {
    top: 0;
    margin: 0;
    height: 5px;
    width: 65vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoB {
    margin-top: -5%;
    height: 5px;
    width: 50vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoC {
    margin-top: -5%;
    height: 5px;
    width: 35vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoD {
    margin-top: -5%;
    height: 5px;
    width: 20vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .lineDecoE {
    margin-top: -5%;
    height: 5px;
    width: 5vw;
    border-radius: 20px;
    background-color: #fff;
  }

  /******↓↓↓LIENS DE SORTIE ↓↓↓**********/
  .sortie {
    margin-top: 0;
    padding: 3px;
    height: 2vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }
  .sortie a > i {
    margin: 0;
    font-size: 1.3rem;
  }
  .sortie > a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1rem;
  }
  /******↑↑↑LIENS DE SORTIE FIN↑↑↑******/
  /******↓↓↓INDEX DE GARDE↓↓↓**********/
  .ml15 {
    font-weight: 800;
    font-size: 3.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    text-align: center;
  }
  /******↑↑↑INDEX DE GARDEFIN↑↑↑******/
  nav ul {
    display: none;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  li a {
    left: 0;
    font-size: 1.4rem;
  }

  .contenu h3 {
    height: auto;
    width: 26vw;
    padding: 5px;
    margin-left: 1vw;
    font-size: 1rem;
    border-bottom: 1px solid white;
  }
  h1 {
    width: 75vw;
  }

  #S1 > h2 {
    margin-top: 3vh;
    font-size: 1.1rem;
    text-align: center;
  }
  hr {
    width: 75vw;
  }

  .activeContenu {
    height: 105vh;
    width: 100%;
  }
  .separate1 {
    margin-top: 0;
    height: 0.2vh;
    width: 50vw;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 25vw;
  }
  .separate2 {
    margin-top: 20vh;
    height: 0.2vh;
    width: 50vw;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 25vw;
  }
  .liensExternes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    text-decoration: none;
  }
  .container {
    margin-top: 0;
    padding: 5px;
    height: auto;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .labelImage {
    top: 0;
    height: 20vh;
    width: 90%;
    background-color: rgba(36, 145, 172, 0.629);
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .labelImageVid {
    top: 0;
    height: 97%;
    width: 90%;
    background-color: rgba(36, 145, 172, 0.629);
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .projetContenu {
    display: block;
    margin-top: 3vh;
    height: auto;
    width: 90%;
  }
  .projetContenu img {
    height: 19.9vh;
    width: 90%;
  }
  .projetContenu video {
    height: auto;
    width: 90%;
    border-radius: 10px;
  }

  .projetContenu video:hover {
    filter: contrast(140%);
  }
  #S1 {
    height: 110vh;
  }
  #S1 > h2 {
    margin-left: 2vw;
    text-align: center;
    font-size: 1rem;
    backdrop-filter: none;
  }

  /******↓↓↓FOOTER↓↓↓******/
  footer {
    position: relative;
    height: auto;
    width: 100%;
  }
  .bannerFooter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
  }
  .signature {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    color: #000;
    font-size: 1rem;
  }
  i {
    bottom: 0;
    height: 2vh;
    width: 5vw;
  }
  .myLinks {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 1rem;
  }
  /******↓↓↓SECTION 2↓↓↓******/
  article {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  article > img {
    height: 150px;
    width: 150px;
  }

  article > p {
    text-shadow: 1px 2px 2px black;
  }
  .infocontain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
    height: auto;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .infocontain > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 10%;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 25px 5px 10px;
  }

  .infocontain > p {
    font-size: 1.4rem;
    color: #fff;
  }
  /******↓↓↓LETTRE EXPLODE ANIME↓↓↓******/
  .explodeContain {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
  /******↑↑↑LETTRE EXPLODE ANIME↑↑↑******/
  /******↑↑↑SECTION 2 FIN↑↑↑******/
  /******↓↓↓SECTION 3↓↓↓******/
  #S3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #000;
    height: auto;
    width: 100%;
    background-color: none;
  }
  #S3 > h2 {
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    letter-spacing: 1vw;
  }
  .dlContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .priceContain {
    margin: 0;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Yeseva One", cursive;
    font-size: 1.3rem;
    line-height: 1.1rem;
  }

  .template {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .dlFolder a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
  }
  .dlFolder h3 {
    font-size: 1.4rem;
  }
  .icoContain {
    height: auto;
    width: 99%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .screenContain {
    border: none;
    height: auto;
    max-height: 100vh;
    width: 99%;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
  }
  .screenContain > figure {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .screenContain > figure > img {
    height: 20vh;
    width: 45vw;
  }
  .screenContain > figure > figcaption {
    padding: 3px;
    height: 20vh;
    width: 35vw;
    border-radius: 10px;
    color: #fff;
    font-size: 1.3rem;
  }
  .screenContain > figure > figcaption > h5 {
    margin-top: 0;
    letter-spacing: 3px;
    text-decoration: underline;
  }
  /******↓↓↓GRID TEMPLATE↓↓↓******/
  .Gridcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .a {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: a;
    padding: 5px;
    border-radius: 10px;
  }

  .b {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #000;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: b;
    padding: 5px;
    border-radius: 10px;
  }

  .c {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #000;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: c;
    padding: 5px;
    border-radius: 10px;
  }

  .d {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #000;
    box-shadow: 2px 2px 10px #000;
    color: #fff;
    height: 50vh;
    width: 85vw;
    grid-area: d;
    padding: 5px;
    border-radius: 10px;
  }

  /******↑↑↑GRID TEMPLATE FIN↑↑↑******/
  /******↑↑↑SECTION 3 FIN↑↑↑******/
}

/******↑↑↑RESPONSIVE SMARTPHONE FIN↑↑↑******/
/**********RESPONSIVE TABLETTE***********************************************************************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
/**********RESPONSIVE TABLETTE*****FIN**************************************************************************************************************/
/****************LANDSCAPE********************/

/****************LANDSCAPE  FIN********************/
