@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pathway Extreme", sans-serif;
  overflow-x: hidden;
  background-color: #000;
  background-size: cover;
}
:root {
  --footGradient: linear-gradient(
    135deg,
    #ffffff00 0%,
    rgba(0, 0, 0, 0.845) 50%,
    #000000 100%
  );
  --infoGradient: linear-gradient(
    135deg,
    #000000 0%,
    rgba(0, 0, 0, 0.845) 60%,
    #ffffff00 100%
  );
}
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/*******************************************PRIMARY-CONTAINER ET STAGGERING*********************************/
.primary_container {
  position: relative;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
/******************************************PRIMARY-CONTAINER ET STAGGERING FIN******************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************wallpapper text-code******************************/
/*globe de la souris*/
.mouse_globe {
  height: 350px;
  width: 350px;
  position: relative;
  transform: translate(-170px, -1200px); /**translate(X,Y)**/
  border-radius: 150px;
  filter: blur(25px);
  background: linear-gradient(135deg, #33cec2 0%, #2276a4 29%, #f10000 100%);
  mix-blend-mode: difference;
  z-index: 0;
  opacity: 0.7;
}
/*globe de la souris fin*/
.WallPapper {
  margin-top: 20px;
  padding: 3px;
  position: absolute;
  height: 200vh;
  width: 100%;
  z-index: -99;
  overflow: hidden;
  background: url("image/ModelFondfolio.png") no-repeat 50% 50%;
  background-size: cover;
}

/********************wallpapper text-code FIN******************************/
.separate1 {
  margin-top: 0;
  height: 0.2vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 25vw;
}
.separate2 {
  height: 0.2vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 25vw;
}
/******↓↓↓MENU BURGER ↓↓↓**********/
.burgerContainer {
  display: none;
  cursor: pointer;
  height: auto;
  width: auto;
  box-sizing: border-box;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  right: 0;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/******↑↑↑MENU BURGER FIN↑↑↑******/
/******↓↓↓LIENS DE SORTIE ↓↓↓**********/
.sortie {
  padding-top: 5px;
  height: 2vh;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
.sortie a > i {
  height: auto;
  width: auto;
  margin: 0;
  font-size: 1.5rem;
}
.sortie > a {
  height: auto;
  width: auto;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
}
.sortie > a:hover {
  color: #fff;
  transform: scale(1.08);
  transition: 0.2s ease-in-out;
}
/******↑↑↑LIENS DE SORTIE FIN↑↑↑******/

/******↓↓↓INDEX DE GARDE↓↓↓**********/
/******↓↓↓BANNER ↓↓↓**********/
.bannerLine {
  height: 0.5vh;
  background-color: #fff;
  border-radius: 50px;
  animation-name: animeLine;
  animation-delay: 1.2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes animeLine {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

/******↑↑↑BANNER FIN↑↑↑******/
.wallpapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  overflow-x: hidden;
}
.ml15 {
  position: relative;
  font-weight: 800;
  font-size: 6.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  opacity: 0.7;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
span a {
  letter-spacing: 0.1rem;
}
.btn {
  height: 10vh;
  width: 15vw;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  background: none;
  transition: 0.3s ease-in-out;
  text-align: center;
  border: none;
  background: none;
  border-radius: 5px;
}
.btn:after,
.btn:before {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  border: transparent;
  transition: all 0.4s;
}
.btn:after {
  top: -5px;
  left: -10px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    transparent 25%,
    #ffffff 85%,
    rgb(0, 0, 0) 100%
  );
}
.btn:before {
  bottom: -5px;
  right: -10px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    transparent 25%,
    #ffffff 85%,
    rgb(0, 0, 0) 100%
  );
}
.btn:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 20px white;
  text-shadow: 1px 1px 3px white;
}
.btn:hover:before,
.btn:hover:after {
  width: 170%;
  height: 170%;
  border-color: black;
  transition: 0.1s ease-in-out;
}

/******↑↑↑INDEX DE GARDEFIN↑↑↑******/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/******↓↓↓TITRE ANIME↓↓↓******/
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30vh;
  width: 100%;
  background: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.title-sub-container {
  height: auto;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
}

.title-sub-container > h2 {
  line-height: 1rem;
  margin: 0;
  font-size: 7rem;
  box-sizing: border-box;
  font-family: "Sixtyfour", sans-serif;
}
.title-sub-container > h4 {
  line-height: 5rem;
  margin: 0;
  font-size: 4rem;
  font-family: "Bacasime Antique", serif;
  box-sizing: border-box;
}
.ml10 {
  position: relative;
  color: #fff;
  line-height: 0;
  box-sizing: border-box;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  box-sizing: border-box;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
  box-sizing: border-box;
}

.ml14 {
  color: #fff;
  box-sizing: border-box;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1rem;
  padding-right: 0.05rem;
  padding-bottom: 0.15rem;
  box-sizing: border-box;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  margin-top: 8vh;
  box-sizing: border-box;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1rem;
  box-sizing: border-box;
  font-family: "Zen Dots";
}
/******↑↑↑TITRE ANIME FIN↑↑↑******/

/******↓↓↓BARRE DE NAVIGATION↓↓↓******/
nav {
  margin-top: 5vh;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
ul li {
  padding: 5px;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
}
li > a {
  color: #fff;
  text-decoration: none;
}
li a:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
/******↑↑↑BARRE DE NAVIGATION FIN↑↑↑******/
/******↓↓↓SYSTEM ONGLET↓↓↓******/

/******↑↑↑SYSTEM ONGLET FIN↑↑↑******/
/******↓↓↓CONTENU ONGLET↓↓↓******/

/******↑↑↑CONTENU ONGLET FIN↑↑↑******/

/******↑↑↑CONTENU ONGLET FIN↑↑↑******/
/******↓↓↓GRID PROJET↓↓↓******/
.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.projetContenu {
  height: auto;
  width: 23vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/*↓effetBordure↓*/
/******↓↓↓SECTION 1↓↓↓*******************/
#S1 {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  background-color: none;
}
#S1 > h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 0.5vw;
  border-bottom: 1px solid #fff;
  text-shadow: 0px 0px 5px #000;
  backdrop-filter: blur(10px);
}
.labelImage {
  top: 0;
  height: 25.1vh;
  width: 100%;
  background-color: rgba(36, 145, 172, 0.629);
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.labelImage:hover {
  display: none;
}
.labelImageVid {
  top: 0;
  height: 91%;
  width: 100%;
  background-color: rgba(36, 145, 172, 0.629);
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.labelImageVid:hover {
  display: none;
}
.cadre1 {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 800px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 15px 12px;
  text-align: center;
  margin-left: 0%;
}
.cadre1:before {
  top: -1vh;
  left: -0.5vw;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.cadre1:after {
  bottom: 0.7vh;
  right: -0.5vw;
  border-top-color: transparent;
  border-left-color: transparent;
}

.cadre1:before,
.cadre1:after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 10%;
  border: 3px solid;
  transition: all 0.3s ease;
  border-radius: 2px;
  z-index: -1;
  color: silver;
}

.cadre1:hover::before,
.cadre1:hover:after {
  width: 105%;
  height: 105%;
}

/******↑↑↑SECTION 1 FIN↑↑↑***************/
/*effetBordureFIN*/
.projetContenu img {
  height: 25.1vh;
  width: 23vw;
  border-radius: 10px;
}

.projetContenu img:hover {
  filter: contrast(140%);
}

.projetContenu video {
  height: auto;
  width: 23vw;
  border-radius: 10px;
}
.projetContenu video:hover {
  filter: contrast(140%);
  cursor: pointer;
}
/******↑↑↑GRID PROJET FIN↑↑↑******/

/******↓↓↓SECTION 2↓↓↓******/
article {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.infocontain {
  height: auto;
  width: 36vw;
}
.infocontain > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 10%;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 25px 5px 10px;
}
.infocontain > h2 {
  margin-left: 5vw;
  height: auto;
  width: 9vw;
  color: #fff;
  font-family: "Pathway Extreme", sans-serif;
  letter-spacing: 0.5vw;
  border-bottom: 1px solid #fff;
  text-shadow: 0px 0px 5px #000;
  backdrop-filter: blur(10px);
  text-align: center;
}
.infocontain > span {
  font-family: "Yeseva One", cursive;
  font-size: 2.8rem;
  line-height: 2.3rem;
}

.infocontain > p {
  padding: 10px;
  color: #fff;
  font-family: "Yeseva One", cursive;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
/******↓↓↓LETTRE EXPLODE ANIME↓↓↓******/
.explodeContain {
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 50vw;
  display: flex;
  align-items: right;
  justify-content: center;
  font-size: 4rem;
}

.explodeContain > h1 {
  margin: 0;
  padding: 0;
  font-family: "Pathway Extreme", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px #fff;
  letter-spacing: 3px;
}

span {
  display: inline-block;
}
/******↑↑↑LETTRE EXPLODE ANIME↑↑↑******/
/******↑↑↑SECTION 2 FIN↑↑↑******/
/******↓↓↓SECTION 3↓↓↓******/
#S3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  height: auto;
  width: 100%;
  background-color: none;
}
#S3 > h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 0.5vw;
  border-bottom: 1px solid #fff;
  text-shadow: 0px 0px 5px #000;
  backdrop-filter: blur(10px);
}
.dlContainer {
  height: auto;
  width: 100%;
  display: block;
}
.priceContain {
  margin: 0;
  padding: 0;
  height: 20vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
}
.priceContain > p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Pathway Extreme", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 3px;
}

.icoContain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
  overflow: hidden;
}
/*zone responsive template*/
.screenContain {
  margin-top: auto;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.screenContain > figure {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: auto;
  width: 70%;
  overflow: hidden;
}
.screenContain > figure > img {
  height: 20vh;
  width: 10vw;
  border-radius: 10px;
}

.screenContain > figure > figcaption {
  padding: 3px;
  height: 20vh;
  width: 10vw;
  border-radius: 10px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  backdrop-filter: blur(1px);
  text-shadow: 0px 0px 5px #000;
  line-height: 18px;
}
.screenContain > figure > figcaption > h5 {
  margin-top: 0;
  letter-spacing: 3px;
  text-decoration: underline;
}
.responsiveSeparate {
  margin-left: 5px;
  margin-right: 5px;
  height: 20vh;
  width: 4px;
  background-color: #fff;
  border-radius: 10px;
}
/*zone responsive template fin*/
.lineContainer {
  margin-top: 0;
  margin-left: 42.5vw;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  width: 45vw;
}
.lineDecoA {
  margin-top: 0;
  height: 5px;
  width: 45vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoB {
  margin-top: -10vh;
  height: 5px;
  width: 35vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoC {
  margin-top: -10vh;
  height: 5px;
  width: 25vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoD {
  margin-top: -10vh;
  height: 5px;
  width: 15vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoE {
  margin-top: -10vh;
  height: 5px;
  width: 5vw;
  border-radius: 20px;
  background-color: #fff;
}
/******↑↑↑SECTION 3 FIN↑↑↑*************************/
/******↓↓↓FOOTER↓↓↓******/
footer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 0;
  padding: 3px;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  background: var(--footGradient);
}
.bannerFooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.signature {
  padding: 5px;
  line-height: 0px;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  color: #000;
}
.signature > p {
  margin-top: 0;
  margin-left: 1vw;
  color: #fff;
}

.signature > h5 {
  color: #fff;
  margin-left: 0.5vw;
  font-size: 1.2rem;
}
i {
  margin-top: 3vh;
  margin-left: 2vw;
}
i:hover {
  border-bottom: 1px solid #000;
}
.myLinks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
}
/******↑↑↑FOOTER FIN↑↑↑******/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
