@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pathway Extreme", sans-serif;
  overflow-x: hidden;
  background: url(image/portrait1.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  backdrop-filter: blur(15px);
}
/******************************************LINE DRAWING*****************************************************************/

/*******************************************LINE DRAWING FIN****************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/*******************************************PRIMARY-CONTAINER ET STAGGERING*********************************/
.primary_container {
  position: relative;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.stagContainer {
  position: absolute;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  z-index: -10;
}
.square {
  height: 8vh;
  width: 100%;
  background-color: rgba(36, 145, 172, 0.413);
}
/******************************************PRIMARY-CONTAINER ET STAGGERING FIN******************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.separate1 {
  margin-top: 0;
  height: 0.2vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 25vw;
}
.separate2 {
  height: 0.2vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 25vw;
}
/******↓↓↓MENU BURGER ↓↓↓**********/
.burgerContainer {
  display: none;
  cursor: pointer;
  height: auto;
  width: auto;
  box-sizing: border-box;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  right: 0;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/******↑↑↑MENU BURGER FIN↑↑↑******/
/******↓↓↓LIENS DE SORTIE ↓↓↓**********/
.sortie {
  padding-top: 5px;
  height: 2vh;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
.sortie a > i {
  height: auto;
  width: auto;
  margin: 0;
  font-size: 1.3rem;
}
.sortie > a {
  height: auto;
  width: auto;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
}
.sortie > a:hover {
  transform: scale(1.08);
  transition: 0.2s ease-in-out;
}
/******↑↑↑LIENS DE SORTIE FIN↑↑↑******/

/******↓↓↓INDEX DE GARDE↓↓↓**********/
/******↓↓↓BANNER ↓↓↓**********/
.bannerLine {
  height: 0.5vh;
  background-color: #fff;
  border-radius: 50px;
  animation-name: animeLine;
  animation-delay: 1.2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes animeLine {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

/******↑↑↑BANNER FIN↑↑↑******/
.wallpapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  overflow-x: hidden;
}
.ml15 {
  position: relative;
  font-weight: 800;
  font-size: 6.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #fff;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
span a {
  letter-spacing: 0.1rem;
}
.btn {
  height: 10vh;
  width: 15vw;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  background: none;
  transition: 0.3s ease-in-out;
  text-align: center;
  border: none;
  background: none;
  border-radius: 5px;
}
.btn:after,
.btn:before {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  border: transparent;
  transition: all 0.4s;
}
.btn:after {
  top: -5px;
  left: -10px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    transparent 25%,
    #ffffff 85%,
    rgb(0, 0, 0) 100%
  );
}
.btn:before {
  bottom: -5px;
  right: -10px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    transparent 25%,
    #ffffff 85%,
    rgb(0, 0, 0) 100%
  );
}
.btn:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 20px white;
  text-shadow: 1px 1px 3px white;
}
.btn:hover:before,
.btn:hover:after {
  width: 170%;
  height: 170%;
  border-color: black;
  transition: 0.1s ease-in-out;
}

/******↑↑↑INDEX DE GARDEFIN↑↑↑******/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/******↓↓↓TITRE ANIME↓↓↓******/
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 30vh;
  width: 100%;
  background: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.title-sub-container {
  height: auto;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
}
.title-sub-container > h2 {
  line-height: 1rem;
  margin: 0;
  font-size: 10rem;
  box-sizing: border-box;
}
.title-sub-container > h4 {
  line-height: 5rem;
  margin: 0;
  font-size: 5rem;
  font-family: "Bacasime Antique", serif;
  box-sizing: border-box;
}
.ml10 {
  position: relative;
  font-weight: 900;
  color: #fff;
  font-family: "Bacasime Antique", serif;
  line-height: 0;
  box-sizing: border-box;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  box-sizing: border-box;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
  box-sizing: border-box;
}

.ml14 {
  font-weight: 200;
  font-size: 3.2rem;
  font-family: "Bacasime Antique", serif;
  color: #fff;
  box-sizing: border-box;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1rem;
  padding-right: 0.05rem;
  padding-bottom: 0.15rem;
  box-sizing: border-box;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
  box-sizing: border-box;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1rem;
  box-sizing: border-box;
}
/******↑↑↑TITRE ANIME FIN↑↑↑******/
h2 {
  margin-left: 2vw;
  color: #fff;
  box-sizing: border-box;
}

/******↓↓↓BARRE DE NAVIGATION↓↓↓******/
nav {
  margin-top: 5vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
ul li {
  padding: 5px;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
}
li > a {
  color: #fff;
  text-decoration: none;
}
li a:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
/******↑↑↑BARRE DE NAVIGATION FIN↑↑↑******/
/******↓↓↓SYSTEM ONGLET↓↓↓******/
.items .OgltsContainer:not(:target) {
  display: none;
}
.items .OgltsContainer:target {
  display: block;
  overflow: hidden;
  box-shadow: 2px 2px 10px #000;
}
.OgltsContainer > h2 {
  color: #fff;
}

.primaryContain > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.primaryContain > label {
  font-size: 1.2rem;
  color: #fff;
}
.primaryContain > i {
  margin: 0;
}
.primaryContain > a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

/******↑↑↑SYSTEM ONGLET FIN↑↑↑******/
/******↓↓↓CONTENU ONGLET↓↓↓******/
.it0Contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28vh;
  width: 100%;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.it0Contain > img {
  height: 25vh;
  width: 25vw;
  position: absolute;
  mix-blend-mode: overlay;
  box-sizing: border-box;
}
.items {
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.items p {
  line-height: 1.5;
  color: #fff;
}

.items .imgContain {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 20vh;
  width: auto;
  border-radius: 5px;
  overflow: hidden;
}
.imgContain > img {
  margin-left: 1vw;
  height: 20vh;
  width: auto;
  box-shadow: 1px 2px 3px black;
}
.service0 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.service1,
.service2 {
  display: block;
}
.onglet4 > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/******↑↑↑CONTENU ONGLET FIN↑↑↑******/
/******↓↓↓FORMULAIRE DE CONTACTE↓↓↓******/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
  height: 32vh;
  margin-left: auto;
  margin-right: auto;
}
form > input[type="text"],
input[type="email"] {
  width: 15vw;
  height: 3vh;
  border-radius: 5px;
  border: none;
}
form > input[type="submit"] {
  width: 8vw;
  height: 3vh;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
form > input[type="text"]:hover,
input[type="email"]:hover {
  background-color: #000;
  color: #fff;
}
form > input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 1px 1px 15px white;
  transform: scale(1.2);
  transition: 0.3s ease;
}
textarea {
  border: none;
  border-radius: 5px;
}
textarea:hover {
  background-color: #000;
  color: #fff;
}
/******↑↑↑FORMULAIRE DE CONTACTE FIN↑↑↑******/
/******↑↑↑CONTENU ONGLET FIN↑↑↑******/
/******↓↓↓GRID PROJET↓↓↓******/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.projetContenu {
  height: 20vh;
  width: 23vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/*↓effetBordure↓*/
/******↓↓↓SECTION 1↓↓↓*******************/
#S1 {
  height: 30vh;
  width: 100%;
}
.labelImage {
  top: 0;
  height: 25.1vh;
  width: 100%;
  background-color: rgba(36, 145, 172, 0.629);
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.labelImage:hover {
  display: none;
}
.labelImageVid {
  top: 0;
  height: 26vh;
  width: 100%;
  background-color: rgba(36, 145, 172, 0.629);
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.labelImageVid:hover {
  display: none;
}
.cadre1 {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 800px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 15px 12px;
  text-align: center;
  margin-left: 0%;
}
.cadre1:before {
  top: -1vh;
  left: -0.5vw;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.cadre1:after {
  bottom: -0.5vh;
  right: -0.5vw;
  border-top-color: transparent;
  border-left-color: transparent;
}

.cadre1:before,
.cadre1:after {
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  height: 10%;
  border: 3px solid;
  transition: all 0.3s ease;
  border-radius: 2px;
  z-index: -1;
  color: silver;
}

.cadre1:hover::before,
.cadre1:hover:after {
  width: 110%;
  height: 110%;
}

/******↑↑↑SECTION 1 FIN↑↑↑***************/
/*effetBordureFIN*/
.projetContenu img {
  height: 25.1vh;
  width: 23vw;
  border-radius: 10px;
}

.projetContenu img:hover {
  filter: contrast(140%);
}

.projetContenu video {
  height: auto;
  width: 23vw;
  border-radius: 10px;
}
.projetContenu video:hover {
  filter: contrast(140%);
}
/******↑↑↑GRID PROJET FIN↑↑↑******/

/******↓↓↓SECTION 2↓↓↓******/
article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.infocontain {
  height: auto;
  width: 36vw;
}
.infocontain > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 10%;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 25px 5px 10px;
}
.infocontain > p {
  color: #fff;
  font-family: "Yeseva One", cursive;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
/******↓↓↓LETTRE EXPLODE ANIME↓↓↓******/
.explodeContain {
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 30vw;
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 4.5rem;
}

.explodeContain > h1 {
  margin: 0;
  padding: 0;
  font-family: "Pathway Extreme", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px #fff;
}

span {
  display: inline-block;
}
/******↑↑↑LETTRE EXPLODE ANIME↑↑↑******/
/******↑↑↑SECTION 2 FIN↑↑↑******/
/******↓↓↓SECTION 3↓↓↓******/
#S3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  height: auto;
  width: 100%;
  background-color: none;
}
#S3 > h2 {
  color: #fff;
}
.dlContainer {
  height: auto;
  width: 100%;
  display: block;
}
.priceContain {
  margin: 0;
  padding: 0;
  height: 20vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
}
.priceContain > p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Yeseva One", cursive;
  font-size: 1.4rem;
}

.icoContain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
  overflow: hidden;
}
.screenContain {
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lineContainer {
  margin-top: 0;
  margin-left: 42.5vw;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 45vw;
}
.lineDecoA {
  height: 5px;
  width: 45vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoB {
  height: 5px;
  width: 35vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoC {
  height: 5px;
  width: 25vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoD {
  height: 5px;
  width: 15vw;
  border-radius: 20px;
  background-color: #fff;
}
.lineDecoE {
  height: 5px;
  width: 5vw;
  border-radius: 20px;
  background-color: #fff;
}
/******↑↑↑SECTION 3 FIN↑↑↑*************************/
/******↓↓↓FOOTER↓↓↓******/
footer {
  margin-top: 5vh;
  padding: 0;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  bottom: 0;
}
.bannerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.signature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  font-size: 1.2rem;
}
.signature > a {
  text-decoration: none;
}
.signature > h5 {
  color: #fff;
  margin-left: 0.5vw;
  font-size: 1.2rem;
}
i {
  margin-top: 3vh;
  margin-left: 2vw;
}
i:hover {
  border-bottom: 1px solid #000;
}
/******↑↑↑FOOTER FIN↑↑↑******/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
